.feed-board {
    background-color: $bg-secondary;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.feed-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    overflow: auto;

    @include mobile-only {
        padding: 24px 8px 16px 8px;
    }
}

.new-post-container {
    position: relative;
    background-color: $bg-accent;
    border-radius: 24px;
    background-image: url('@/assets/images/confetti.svg');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile-only {
        border: 1px solid $border-accent;
        background-position: center;

        .post-card {
            border: 0;
        }
    }

    .label {
        color: $text-accent;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        margin: 8px 0;
    }
}

.post-card {
    border-radius: 24px;
    border: 1px solid $border-secondary;
    background-color: $bg-card;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 12px;

        .avatar-container {}

        .details-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 4px;
            height: 48px;

            .user-name {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $text-primary;
            }

            .timestamp {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: $text-secondary;
            }
        }

        .options-icon-container {
            height: 48px;
            color: $icon-primary;

            .options-icon {
                cursor: pointer;
            }
        }
    }

    .caption {
        padding: 16px;
        padding-top: 0;
        color: $text-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    .attachment {
        @include mobile-only {
            padding: 0 12px 12px 12px;
        }

        img {
            max-width: 640px;

            @include mobile-only {
                width: 100%;
                border-radius: 16px;
            }
        }
    }

    .actions-container {
        display: flex;
        padding: 12px 16px;
        align-items: center;
        justify-content: space-between;

        .section {
            display: flex;
            align-items: center;
            gap: 4px;

            &.right {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }

    }


}