.badge {
    background-color: #30004010;
    border-radius: 9999px;
    padding: 4px 8px;
    display: flex;
    gap: 4px;
    align-items: center;

    &.border {
        border: 1px solid #20003618;
    }
}