.header {
    background-color: $bg-primary;

    @include mobile-only {
        background-color: $bg-tertiary;
        backdrop-filter: blur(10px);
    }
    
    &-main {
        padding: 14px 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border-primary;
        align-items: center;

        @include mobile-only {
            display: none;
        }

        .left-content {
            display: flex;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;

                @media (prefers-color-scheme: dark) {
                    filter: invert(100%) hue-rotate(180deg);
                }
            }
        }

        .right-content {
            display: flex;
            gap: 12px;
            align-items: center;

            .bell-notification {
                border: 1px solid $border-muted;
                color: $icon-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;
                height: 32px;
                width: 32px;
                cursor: pointer;
            }

            .avatar-wrapper {
                flex-shrink: 0;
            }
        }
    }

    &-nav {
        padding-right: 24px;
        padding-left: 18px;
        width: 100%;
        border-top: 1px solid $border-primary;
        border-bottom: 1px solid $border-primary;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-only {
            padding: 8px;
            border: 0;
        }

        &-left {
            display: flex;
            align-items: center;
            gap: 16px;

            .vertical-line-wrapper, .day-indicator {
                @include mobile-only {
                    display: none;
                }
            }

            .back-nav {
                color: $icon-primary;
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
                
                .content {
                    color: $text-primary;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    @include mobile-only {
                        display: none;
                    }
                }
            }

            .day-indicator {
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 8px;

            @include mobile-only {
                width: 100%;
                justify-content: space-between;
                margin-left: 8px;
            }

            .info-message {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: $text-primary;
            }

            .info-icon-container {
                color: $icon-primary;
                display: flex;
                align-items: center;

                @include mobile-only {
                    height: 40px;
                    width: 40px;
                    background-color: $bg-tertiary;
                    border-radius: 9999px;
                    justify-content: center;
                }
            }
        }
    }
}

.vertical-line {
    width: 1px;
    background-color: $vertical-line;
    height: 32px;

    &-wrapper {
        padding: 8px 0;
    }
}