.sidebar {

    &-wrapper {
        background-color: $bg-tertiary;
        padding: 16px 0px 24px 8px;
        backdrop-filter: blur(10px);

        @media (prefers-color-scheme: dark) {
            background-color: rgb(0 0 0 / 64%);
        }

        @include mobile-only {
            padding: 8px 0 0 0;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar { 
            display: none;
        }

        @include mobile-only {
            flex-direction: row;
        }
    }
    
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    // gap: 8px;

    @include mobile-only {
        flex-direction: column;
        

        .check-icon {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.selected {
        font-weight: 600;
        color: $text-primary;
        background-color: $bg-secondary;
        border-top-left-radius: 99px;

        .check-icon {
            color: $icon-success;
        }
        border-bottom-left-radius: 99px;

        @include mobile-only {
            border-top-left-radius: 99px;
            border-top-right-radius: 99px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        // &::before {
        //     content:"";
        //     // position:absolute;
        //     right: 0;
        //     width: 28px;
        //     height: 28px;
        //     background: transparent;
        //     border-bottom-right-radius: 999px;
        //     // box-shadow: 0 0 0 14px #e7e9f1; /* match container bg (adjust to your bg) */
        //     pointer-events:none;
        // }

        // &::after {
        //     content:"";
        //     position:absolute;
        //     right: 0;
        //     width: 28px;
        //     height: 28px;
        //     background: transparent;
        //     border-radius: 999px;
        //     // box-shadow: 0 0 0 14px #e7e9f1; /* match container bg (adjust to your bg) */
        //     pointer-events:none;
        // }

        .label {
            @include mobile-only {
                display: flex;
                flex-direction: column;
                align-items: center;
                // gap: 8px;

                .value {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    margin-top: 8px;
                }
            }

            .prefix {
                &::after {
                    @include mobile-only {
                        content: "";
                    }
                }            
            }
        }
    }

    .label {
        width: 190px;

        @include mobile-only {
            width: 100%;
            white-space: nowrap;
        }

        .prefix {
            &::after {
                content: " - ";

                @include mobile-only {
                    content: " ";
                }
            }            
        }

        // .value {}
    }

}