@use './styles/theme.scss' as *;

:root {
  font-family: system-ui, Be Vietnam Pro, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("@/assets/images/sample-bg.jpg");
  background-size: cover;
  color: $text-primary;

  * {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: $page-bg;
}
